.navigation.side-header
  %h3.title NAVIGATION

.nav-links
  .home
    = link_to "Home", root_path, class: "links"
  .new-quiz
    = link_to "New Quiz", new_score_path, class: "links"

.welcome.side-header
  - if logged_in?
    %h3.title= "Welcome, #{current_user.first_name}"
  - else
    %h3.title WELCOME GUEST

.user-actions
  - if logged_in?
    = link_to "Profile", user_path(current_user), class: "links"
    = link_to "Log out", logout_path, method: "delete", class: "links"
  - else
    = link_to "Create Account", signup_path, class: "links"
    = link_to "Sign In", login_path, class: "links"


.interaction.side-header
  %h3.title INTERACTION

.interact-links
  .donate
    %a{:href => "#", class: "links"} Donate
  .add-fb
    %a{:href => "#", class: "links"} Like on Facebook
  .add-twtr
    %a{:href => "#", class: "links"} Follow on Twitter
