!!!
%html
%head
  %title= "#{yield(:title)} | Lost in Transit"

  // Stylesheets
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = yield :stylesheet

  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  %link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"}/
%body
  .app-container
    .navbar-container
      = render 'layouts/navbar'

    .sidebar-container
      = render 'layouts/sidebar'

    .content-container
      .flash-messages
        - flash.each do |message_type, message|
          %div{class: "alert alert-#{message_type}"}= message
      = yield
